bin
obj
packages
publish
installer
App_Data
WexLogFileOutput
.vs
.idea

Thumbs.db
project.lock.json
applicationhost.config

TestResult.xml
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.nupkg
doc/~$*
